@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  /* width: 20%; */
  height: 100vh;
  box-sizing: border-box;
  background: cornflowerblue;
  color: white;
  padding: 1em;
}


div ul {
  text-align: left;
  list-style-type: none;
  margin : 2.5em;
  margin-left: 0px;
}

li span{
  padding : 1em;
  padding-bottom: 2em;
}

#titre{
  display:flex;
  height: 2em;
}
/* 
main {
  width: 80%;
} */

header {
  box-sizing: border-box;
  background: aliceblue;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 20px;
}
.left {
   width: 400px;
   display: grid;
   grid-template-columns: 40px 1fr;
   gap: 5px;
}


.search_bar {
   border-radius: 10px;
   padding: 5px;
   border: none;
   background: lightgrey;
}
.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile_picture {
  margin: auto 10px;
}

.profile_picture img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
