@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.vertical_links {
  /* width: 20%; */
  height: 100vh;
  box-sizing: border-box;
  background: rgb(2, 108, 170);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.menu_icone{
  display: flex;
  align-items: center;
}


div ul {
  list-style-type: none;
  margin : 1em ;
  margin-left: -0.6em;
}

img{
  margin:0.5em;
}

.features {
   margin-top: 50px;
}

#titre{
  height: 2em;
  margin : 2.5em;
}

#titre img {
   margin: 5px;
}

header {
  box-sizing: border-box;
  background: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 20px;
}
.left {
   width: 400px;
   display: grid;
   grid-template-columns: 40px 1fr;
   gap: 5px;
}


.search_bar {
   border-radius: 10px;
   padding: 5px;
   border: none;
   background: lightgrey;
}
.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile_picture {
  margin: auto 10px;
}

.profile_picture img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.hero {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 300px;
   padding: 20px 20px 5px 20px;
}
.profile {
   display: grid;
   grid-template-columns: 100px 1fr;
}
.actions {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 20px;
}

.actions button{
   margin: 50px 2px 2px 2px; 
   height: 30px;
   width: 100%;
   background: rgb(0, 132, 255);
   border-radius: 50px;
   border: none;
   color: aliceblue;
   padding: 5px 20px;
   text-align: center;
}

.profile img {
   margin: auto;
   width: 80px;
   height: 80px;
   border-radius: 100px;
}